/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-text-color: #000028;
  --text-color: #F1B2CE;  
  --title-color: #DB00FF;
  --shadow-header-color: #FF0070;
  --shadow-footer-color: #FF0070;
  --title-decor-color: #FF0070;
  --outline-hover-color: rgba(255, 0, 112, 0.4);
}

:root.theme-dark .rec-label {
  display: flex;
}
