:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-text-color: #000028;
  --text-color: #F1B2CE;  
  --title-color: #DB00FF;
  --shadow-header-color: #FF0070;
  --shadow-footer-color: #FF0070;
  --title-decor-color: #FF0070;
  --outline-hover-color: rgba(255, 0, 112, 0.4);
}

:root.theme-dark .header__theme-menu-button_type_light {
  outline: none;
}

:root.theme-dark .header__theme-menu-button_type_dark {
  outline: 1px solid var(--accent-color);
}

:root.theme-dark .rec-label {
  display: flex;
}

:root.theme-dark .header__theme-menu-button_type_auto {
  outline: none;
}
